<template>
  <header class="app-header">
    <inline-svg :src="require('../assets/logoPlayIcon.svg')"/>
    <span class="title">
      YouTube
    </span>
    <span class="search">
      <input type="search" />
      <a class="search-clear">×</a>
      <a class="search-btn">🔍</a>
    </span>
  </header>
</template>

<script>
export default {
  name: 'AppHeader'
}
</script>

<style scoped lang="scss">
header {
  top: 0;
  left: 0;
  margin: 0;
  height: 50px;
  width: 100vw;
  font-weight: 700;
  position: absolute;
  background: papayawhip;
  font-family: 'Oswald', sans-serif;

  display: inline-grid;
  grid-template-rows: 50px;
  grid-template-columns: 70px auto 20px;
  grid-template-areas: "logo search .";
  align-items: center;
  justify-items: center;

  & svg {
    height: 40px;
  }

  & .title {
    font-size: 30px;
    display: none;
  }

  & .search {
    width: 95%;
    height: 30px;

    grid-area: search;

    display: inline-grid;
    grid-template-columns: auto 10px 10px;
    grid-template-areas: "input clear search-btn";

    & input {
      height: 30px;
      font-size: 30px;
      border-radius: 2px 0 0 2px;
      border: 1px black solid;
      border-right: 0;

      grid-area: input;
    }

    & .search-clear {
      grid-area: clear;
    }

    & .search-btn {
      grid-area: search-btn;
    }
  }

  // Small devices (landscape phones, 576px and up)
  @media (min-width: 576px) {
    background: palegreen;

    grid-template-columns: 70px 140px auto 20px;
    grid-template-areas: "logo title search .";

    & .title {
      display: inline;
    }
  }

  // Medium devices (tablets, 768px and up)
  @media (min-width: 768px) {
    background: paleturquoise;

    grid-template-columns: 70px 140px auto 50px;
    grid-template-areas: "logo title search .";

    & .title {
      display: inline;
    }
  }

  // Large devices (desktops, 992px and up)
  @media (min-width: 992px) {
    background: palevioletred;

    grid-template-columns: 70px 140px auto 50px;
    grid-template-areas: "logo title search .";

    & .title {
      display: inline;
    }
  }

  // Extra large devices (large desktops, 1200px and up)
  @media (min-width: 1200px) {
    background: peru;

    grid-template-columns: 70px 140px auto 50px;
    grid-template-areas: "logo title search .";

    & .title {
      display: inline;
    }
  }
}
</style>
